<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.starter.module.dao.DummyMapper">
  <resultMap id="BaseResultMap" type="org.project.starter.module.model.Dummy">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="DUMMY" jdbcType="CHAR" property="dummy" />
  </resultMap>
</mapper>